.projects {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
}

.projects li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1rem 1rem;
}

.projects h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.projects .github::before,
.projects .project::before {
    content: '';
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    margin-right: .3rem;
}

.projects .github::before {
    background-image: url('https://raw.githubusercontent.com/PedroReimberg/dio-js-developer-portfolio/master/assets/img/github.svg');
}

.projects .project::before {
    background-image: url('https://raw.githubusercontent.com/PedroReimberg/dio-js-developer-portfolio/master/assets/img/business.svg');
}

.projects li a {
    color: white;
    text-decoration: none;
    margin-left: 1.425rem;
}

.projects li a:hover {
    text-decoration: underline;
}